.heading{
    color: #9AA6B2;
    margin-bottom: 0px;
}

body{
    overflow-x: hidden;
}

.loader {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}
